{% extends "base.html" %}
{% load static %}

{% block content %}


<main class="container mt-5 pt-5">

{% if trolley_items %}
<div class="card p-4">
<h4 class=""><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
<h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
<h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
{% if free_delivery_delta > 0 %}
<p class="mb-1 text-danger fw-bold">
    You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
</p>
{% endif %}
<div class="row mt-3">
  <div class="col-12 col-md-6 mb-2">
    <a href="{% url 'all_trees' %}" class="shadow-lg btn btn-secondary text-white rounded-pill">
      <svg class="bi mx-auto mb-1" width="24" height="24" fill="currentColor"><use xlink:href="#shop"/></svg>
      Back to shop</a>
  </div>
  <div class="col-12 col-md-6 mb-2">
    <a href="" class="shadow-lg btn btn-success text-white rounded-pill">
      <svg class="bi mx-auto mb-1" width="24" height="24" fill="currentColor"><use xlink:href="#key"/></svg>
      Secure Checkout</a>
  </div>
</div>

</div>

{% for item in trolley_items %}

<!-- cards containing each items -->

<div class="card mb-3 mt-3" >
    <div class="row g-0">
      <div class="col-4">

        {% if item.tree.image %}
        <img src="{{ item.tree.image.url }}"
        class="img-fluid rounded-start "

        {% if tree.image_alt %}
        alt="{{ item.tree.image_alt }}"
        {% else %}
        alt="{{ item.tree.name }}"
        {% endif %}
        >
        {% else %}
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
        {% endif %}
      </div>
      <div class="col-8 d-flex flex-column">
        <div class="card-body allign-self-start">
          <!-- tree header -->
          <h2 class="card-title text-uppercase my-heading-font">{{ item.tree.name }}</h2>
          <p class="small">Product ref.: {{ item.tree.slug }}</p>

          <!-- tree description -->
          <p class="card-text">{{ item.tree.description }}</p>
                    <!-- tree price -->
          <h2 class="fw-bold">£ {{ item.tree.price }}</h2>
          <!-- tree dimentions -->
          <div class="row">
            <div class="col-6">
                <p class="card-text">Height: {{ item.tree.height_in }} in</p>
            </div>
            <div class="col-6">
                <p class="card-text">Trunk: {{ item.tree.trunk_circumference }} in</p>
            </div>
        </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card-footer allign-self-end">
          <div class="d-flex justify-content-between align-items-center mt-3">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-success">Add to trolley</button>
                <button type="button" class="btn btn-sm btn-info">Edit</button>
                <button type="button" class="btn btn-sm btn-danger">Delete</button>
            </div>
            <small class="fw-bold">£ {{tree.price}}</small>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  {% endfor %}
  {% else %}
  <p class="lead mb-5">
    Your Bag is empty   {{ trolley_items }}
  </p>
  <a href="{% url 'all_trees' %}" class="btn btn-success rounded-pill">
    Back to the shop 
  </a>
  {% endif %}
</main>


  {% endblock %}