{% extends "base.html" %}
{% load static %}
{% load trolley_tools %}

{% block content %}


<main class="container mt-5 pt-5">

{% if trolley_items %}
<div class="card p-4">
<h4 class="my-heading-font"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
<h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
<h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
{% if free_delivery_delta > 0 %}
<p class="mb-1 text-danger fw-bold">
    You could get free delivery by spending just <strong>£{{ free_delivery_delta }}</strong> more!
</p>
{% endif %}
<div class="row mt-3">
  <div class="col-12 col-md-6 mb-2">
    <a href="{% url 'all_trees' %}" class="shadow-lg btn btn-secondary text-white rounded-pill">
      <svg class="bi mx-auto mb-1" width="24" height="24" fill="currentColor"><use xlink:href="#shop"/></svg>
      Back to shop</a>
  </div>
  <div class="col-12 col-md-6 mb-2">
    <a href="" class="shadow-lg btn btn-success text-white rounded-pill">
      <svg class="bi mx-auto mb-1" width="24" height="24" fill="currentColor"><use xlink:href="#key"/></svg>
      Secure Checkout</a>
  </div>
</div>

</div>

{% for item in trolley_items %}

<!-- cards containing each items -->

<div class="card mb-3 mt-3" >
    <div class="row g-0">
      <div class="col-4">

        {% if item.tree.image %}
        <img src="{{ item.tree.image.url }}"
        class="img-fluid rounded-start "

        {% if tree.image_alt %}
        alt="{{ item.tree.image_alt }}"
        {% else %}
        alt="{{ item.tree.name }}"
        {% endif %}
        >
        {% else %}
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
        {% endif %}
      </div>
      <div class="col-8 d-flex flex-column">
        <div class="card-body allign-self-start">
          <!-- tree header -->
          <h2 class="card-title text-uppercase my-heading-font">{{ item.tree.name }}</h2>
          <p class="small">Product ref.: {{ item.tree.slug }}</p>

          <!-- tree description -->
          <p class="card-text">{{ item.tree.description }}</p>
                    <!-- tree price -->
          <h2 class="fw-bold">£ {{ item.tree.price }}</h2>
          <!-- tree dimentions -->
          <div class="row">
            <div class="col-6">
                <p class="card-text">Quantity: {{ item.quantity }}</p>
            </div>
            <div class="col-6">

                <p class="card-text">Total: £ {{ item.tree.price | calc_subtotal:item.quantity }} </p>
            </div>
        </div>
        </div>

      </div>
    </div>
        <!-- card footer -->
        <div class="card-footer bg-light">
          <!-- form to update the trolley -->
          <form class="form" action="{% url 'update_trolley' item.tree.id %}" method="POST">

            {% csrf_token %}
            <div class="row text-center">

                <div class="col-12  text-center">

                    <div class="input-group  text-center">
                      <!-- div controlling the size of input group and position to the right -->
                      <div class="col-12 col-sm-4 col-md-3  text-center d-none d-md-block"> </div>
                      <div class="d-none d-md-block text-center">
                        <!-- Back to shop button for tablets and bigger -->
                        <a href="{% url 'all_trees' %}" class="shadow-lg btn btn-secondary text-white rounded-pill">
                          <svg class="bi mx-auto mb-1" width="18" height="18" fill="currentColor"><use xlink:href="#shop"/></svg>
                          <p class="d-inline small">
                            Back to shop
                          </p>
                          </a>
                      </div>
                      <input class=" shadow-lg form-control bg-success  text-white fw-bold text-center rounded-pill" type="number"
                      name="quantity" value="{{ item.quantity }}" min="1" max="99"
                      data-item_id="{{ item.item_id }}"
                      id="id_qty_{{ item.item_id }}">
                      <button type="submit" class="shadow-lg btn btn-success rounded-pill">
                        <svg class="bi mx-auto mb-1" width="18" height="18" fill="currentColor"><use xlink:href="#trolley"/></svg>
                    
                        Update trolley</button>
                        <a href="{% url 'remove_from_trolley' item.tree.id %}" class="shadow-lg btn btn-danger text-white rounded-pill">
                          <svg class="bi mx-auto mb-1" width="18" height="18" fill="currentColor"><use xlink:href="#bin"/></svg>
                          <p class="d-inline small">Remove</p>
                          </a>
                    </div>
                  </div>
                  <div class="col-12 d-md-none text-center mt-3">
                    <!-- Back to shop in a seperate column for mobile phones only -->
                    <a href="{% url 'all_trees' %}" class="shadow-lg btn btn-secondary text-white rounded-pill">
                      <svg class="bi mx-auto mb-1" width="18" height="18" fill="currentColor"><use xlink:href="#shop"/></svg>
                      <p class="d-inline small">
                      Back to shop
                      </p>
                    </a>
                  </div>
              
            </div>

          </form>

        </div><!-- end of card footer -->
      
    </div>
  </div>
  {% endfor %}
  {% else %}
  <p class="lead mb-5">
    Your Bag is empty
  </p>
  <a href="{% url 'all_trees' %}" class="btn btn-success rounded-pill mb-3">
    <svg class="bi mx-auto mb-1" width="24" height="24" fill="currentColor"><use xlink:href="#shop"/></svg>
    Back to the shop 
  </a>
  {% endif %}
</main>


  {% endblock %}