<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-trees-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-trees-link">
                <a href="?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="?sort=size&direction=desc" class="dropdown-item ">By Size</a>
                <a href="?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Trees</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="category-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="category-link">
                <a href="?category=evergreen" class="dropdown-item">Evergreen</a>
                <a href="?category=deciduous" class="dropdown-item">Deciduous</a>
                <a href="?category=flowering" class="dropdown-item">Flowering</a>
                <a href="?category=fruiting" class="dropdown-item">Fruiting</a>
                <a href="?category=evergreen,deciduous,flowering,fruiting" class="dropdown-item">All Categories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="enviroment-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Enviroment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="enviroment-link">
                <a href="?category=outdoor" class="dropdown-item">Outdoor</a>
                <a href="?category=indoor" class="dropdown-item">Indoor</a>
                <a href="?category=outdoor,indoor" class="dropdown-item">Enviroment</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="sizes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Size
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sizes-link">
                <a href="?category=large_specimen" class="dropdown-item">Large Specimen</a>
                <a href="?category=landscapes" class="dropdown-item">Landscapes</a>
                <a href="?category=adult_trees" class="dropdown-item">Adult Trees</a>
                <a href="?category=medium" class="dropdown-item">Medium</a>
                <a href="?category=starter_trees" class="dropdown-item">Young starter trees</a>
                <a href="?category=large_specimen,landscapes,medium,starter_trees" class="dropdown-item">All Sizes</a>
            </div>
        </li>
    </ul>
</div>