

    <div class="px-3 py-2 bg-dark text-white d-none d-md-block">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start my-heading-font">
          <a href="{% url 'home' %}" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <img src="{{ MEDIA_URL }}trees.svg" alt="">
              <h1 class="my-heading-font ps-2">Three Happy Trees</h1>

          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="{% url 'home' %}" class="nav-link text-white text-uppercase">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24" fill="currentColor"><use xlink:href="#home"/></svg>
                Home
              </a>
            </li>
            <li>
              <a href="{% url 'all_trees' %}" class="nav-link text-white text-uppercase">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24" fill="currentColor"><use xlink:href="#shop"/></svg>
                Shop
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white text-uppercase">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24" fill="currentColor"><use xlink:href="#faq"/></svg>
                FAQ
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white dropdown-toggle text-uppercase" id="dropdownFind" data-bs-toggle="dropdown" aria-expanded="false">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24" fill="currentColor"><use xlink:href="#find"/></svg>
                Find
              </a>
                <div class="dropdown-menu text-small bg-dark text-white text-uppercase" aria-labelledby="dropdownFind">
                    <form class="form" method="GET" action="{% url 'all_trees' %}">
                      <div class="input-group p-3">
                      <input type="text" class="form-control" name="q" placeholder="Search..." aria-label="Search">
                      <button type="submit" class="btn btn-sm btn-secondary text-white">Find</button>
                      </div>
                    </form>
                </div>

            </li>
            <li>
              <!-- user-->
              <a href="#" class="nav-link text-white text-uppercase dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24" fill="currentColor">
                  <use xlink:href="#people-circle"/>
                </svg>
                <!-- if user is authenticated, his name is shown, otherwise the words "Log in" -->
                {% if request.user.is_authenticated %}
                {{ request.user.first_name }}
                </a>
                <!-- drop down for user that is logged in -->
                <ul class="dropdown-menu text-small bg-dark text-white" aria-labelledby="dropdownUser">
                  <li>
                    <a class="dropdown-item text-white text-uppercase" href="#">User profile
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item text-white text-uppercase" href="{% url 'account_logout' %}">Sign out
                    </a>
                  </li>
                </ul>
                </li>
                {% else %}
                Log in
                </a>
                  <!-- drop down for user that is NOT logged in -->
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser">
                  <li>
                    <a class="dropdown-item text-uppercase" href="{% url 'account_signup' %}">Register
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item text-uppercase" href="{% url 'account_login' %}">Log in
                    </a>
                  </li>
                </ul>
                </li>
                {% endif %}
                <li>
                  <!-- trolley -->
                  <a href="#" class="nav-link text-white">
                    <svg class="bi d-block mx-auto mb-1" width="24" height="24" fill="currentColor"><use xlink:href="#trolley"/></svg>
                    {% if grand_total %}
                    £ {{ grand_total|floatformat:2 }}
                    {% else %}
                    £ 0.00
                    {% endif %}
                  </a>
                </li>
          </ul>
        </div>
      </div>
    </div>
    </div>


    

