{% extends "base.html" %}
{% load static %}
{% block extra_css %}
{% endblock %}
{% block content %}
<div class="container">
  {% if user.is_authenticated %}
  <!-- header of the question form page -->
  <div class="py-5 text-center">
    <div class="text-dark mt-5 mb-3">
    <img src="{{ MEDIA_URL }}trees-dark.svg" alt="">
  </div>
    <h2 class="my-heading-font">Frequently Asked Questions
    </h2>
    <p class="lead">Below is an example form built entirely with Bootstrap's form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.
    </p>
  </div>
  <!-- questions summary ???   -->
  <div class="row ">
    <div class="col-md-2">
    </div>
    <!-- forms starts here -->
    <div class="col-md-8 col-lg-8">
      <h4 class="mb-3 my-heading-font">Your question
      </h4>
      <form action="{% url 'add_question' %}" enctype="multipart/form-data" method="POST" id="question-form">

        {% include 'questions/includes/question_form.html' %}
        <hr class="my-4">
        <div class="row gy-3">
          <!-- buttons at the end of the form -->
          <div class="col-md-6 text-center ">
            <button type="reset" class="btn btn-warning rounded-pill">
              <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="#clear"/>
              </svg>
              <span class="font-weight-bold">Clear
              </span>
            </button>
          </div>
          <div class="col-md-6 text-center ">
            <button id="submit-button" class="btn btn-success rounded-pill">
              <span class="font-weight-bold">Save
              </span>
              <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="#save"/>
              </svg>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% else %}
  <div class="py-5 text-center">
    <div class="text-dark mt-5 mb-3">
    <img src="{{ MEDIA_URL }}trees-dark.svg" alt="">
  </div>
    <h2 class="my-heading-font">Ask your question here
    </h2>
    <p class="lead">Please 
      <a href="{% url 'account_login' %}">log in</a> or <a href="{% url 'account_signup' %}"> register</a> to post your question to our gardeners.
    </p>
  </div>
  {% endif %}
</div>
{% endblock %}
{% block postload_js %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`New image: ${file.name}`);
        });
    </script>
{% endblock %}