{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'questions/css/bootstrap-carusel.css' %}">
{% endblock %}
{% block content %}

<main class="">
  {% include '../includes/carousel.html' %}
  <div class="container marketing">
      <div class="accordion accordion-flush" id="list-of-questions">
        {% for question in question_list %}
        <div class="accordion-item">
          <!-- accordeaon header -->
          <h2 class="accordion-header" id="heading-{{ question.id }}">
            <button class="accordion-button collapsed border-bottom border-muted shadow-lg"
                    type="button" data-bs-toggle="collapse" data-bs-target="#question-id-{{ question.id }}"
                    aria-expanded="true" aria-controls="question-id-{{ question.id }}">
              {{ question.header }}
            </button>
          </h2>
          <!-- accordeon body -->
          <div id="question-id-{{question.id}}" class="accordion-collapse collapse" aria-labelledby="heading-{{question.id}}" data-bs-parent="#list-of-question">
            <div class="accordion-body">
              <div class="container">
                <div class="row">
                    {% include 'questions/includes/question_detail.html' %}
                </div>
                <div class="row mt-3">
                  <div class="col text-end">
                    <a href="#"
                       class="btn btn-outline-warning btn-sm">Edit
                    </a>
                  </div>
                  <div class="col text-start">
                    <!-- Modal Trigger -->
                    <button class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#id-modal-{{question.id}}" type="button">Delete
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
        <h4>You have no questions</h4>
        {% endfor %}
      </div>
    </div>
    {% for question in question_list %}
    <!-- Modal -->
    <div class="modal fade" id="id-modal-{{question.id}}" tabindex="-1" aria-labelledby="modal-label-{{question.id}}" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-label-{{question.id}}">Confirm Deleting the question
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <h4>Are you sure you want to delete question about {{ question.header }}
            </h4>
            <p class="red-text">The user will not be notified
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancell
            </button>
            <a href="/visits/delete_question/{{question.id}}" class="btn btn-danger">
              Delete
            </a>
          </div>
        </div>
      </div>
      </div>
      {% endfor %}
    </div>

</main>


  {% endblock %}