{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}

<div class="container">

        <!-- header of the profile page -->
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        <h2 class="my-heading-font">My profile</h2>
        <p class="lead">Below is an example form built entirely with Bootstrap's form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
      </div>
      <!-- order summary history   -->
      <div class="row g-5">
        <div class="col-md-5 col-lg-4 order-md-last">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-success my-heading-font">Order history</span>
            <span class="badge bg-success rounded-pill">{{ order_count }}</span>
          </h4>
          <ul class="list-group mb-3 order-history">
              {% for order in orders %}
              <a href="{%%}"></a>
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <a href="{% url 'order_history' order.order_number %}" 
                title="{{ order.order_number }}"></a>
                <h6 class="my-0">{{ order.date }}</h6>
                <small class="text-muted">Order Number: {{ order.order_number|truncatechars:6 }}...</small>
              </a>
              </div>
              <span class="text-muted">£ {{ order.grand_total }}</span>
            </li>
            {% endfor %}
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Delivery</h6>
                <small>Free delivery above £50</small>
              </div>
              <span class="text-success">£ {{ delivery | floatformat:2 }} </span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (GBP)</span>
              <strong>£ {{ grand_total | floatformat:2 }}</strong>
            </li>
          </ul>

        </div>

          <!-- forms starts here -->
        <div class="col-md-7 col-lg-8">
          
          <h4 class="mb-3 my-heading-font">Default Address</h4>
          <form action="" method="POST" id="payment-form">
              {% csrf_token %}
            <div class="row g-3">
  
              <div class="col-12">
                {{ form.default_phone_number | as_crispy_field }}
              </div>
  
              <div class="col-12">
                {{ form.default_street_address1 | as_crispy_field }}
              </div>
  
              <div class="col-12">
                {{ form.default_street_address2 | as_crispy_field }}
              </div>
  
              <div class="col-12">
                {{ form.default_town_or_city | as_crispy_field }}
              </div>
  
              <div class="col-md-5">
                {{ form.default_country | as_crispy_field }}
              </div>
  
              <div class="col-md-4">
                {{ form.default_county | as_crispy_field }}
              </div>
  
              <div class="col-md-3">
                {{ form.default_postcode | as_crispy_field }}
              </div>
            </div>
  
            <hr class="my-4">
  
            <div class="form-check form-check-inline">
                {% if user.is_authenticated %}
                    <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                    <input class="form-check-input ms-2 me-2" type="checkbox" id="id-save-info" name="save-info" checked>
                {% else %}
                    <label class="form-check-label" for="id-save-info">
                        <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                        <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                    </label>
                {% endif %}
            </div>
            <hr class="my-4">

            <button id="submit-button" class="btn btn-success rounded-pill">
							<span class="font-weight-bold">Update Profile</span>

								<i class="bi bi-person-plus-fill"></i>

						</button>
  
          </form><!-- form ends here -->
        </div>
      </div>

  </div>

  {% endblock %}

