{% load static %}
{% csrf_token %}
<div class="row g-3">
  <div class="col-12">
    {{ form.header| as_crispy_field }}
  </div>
  <div class="col-12">
    {{ form.detail | as_crispy_field }}
  </div>
<!-- add if statement for superuser -->
{% if user.is_superuser %}
  <div class="col-12">
    {{ form.answer | as_crispy_field }}
  </div>
  <div class="col-6">
    {{ form.status | as_crispy_field }}
  </div>
{% endif %}

{% if question %}
<!-- this is to prevent superuser edit the newsletter status if he wasn't the author -->

    {% if question.author == user %}
    <div class="col-6">
      {{ form.newsletter | as_crispy_field }}
    </div>
    {% endif %}

{% else %}
    <div class="col-6">
      {{ form.newsletter | as_crispy_field }}
    </div>
{% endif %}
  <!-- image -->
  <h4 class="mb-3 my-heading-font">Image Details
  </h4>
  <div class="col-12">
    {{ form.image_url | as_crispy_field }}
  </div>
  <div class="col-12">
    {{ form.image }}
  </div>
  <div class="col-12">
    {{ form.image_alt | as_crispy_field }}
  </div>
  <div class="col-12">
    <input type="hidden" value="{{request.user.id}}" name="author">
  </div>

</div>
