/* GLOBAL STYLES
-------------------------------------------------- */

body {
    font-family: 'Kodchasan', sans-serif !important;

}

.my-heading-font {
    font-family: 'Baumans', cursive;
    }
    
.my-plain-text-font {
font-family: 'Kodchasan', sans-serif !important;
}




/* NAVBAR FOR LARGE SCREENS
  -------------------------------------------------- */

.icon-white {
    fill: white;
}

.icon-success {
    fill: #198754;
}

svg:hover {
    fill: #198754;
}

.nav-link:hover {
    color: #198754 !important;
}

/* TILES FOR SORTING AND FILTERING TREES
-------------------------------------------------- */
/* invisible for xxs phones */

.bg-img-trees {

    background:
    #f0f5fa
    url('/media/wide-02-tree-hero-milada-vigerova-JloxbrNcknY-unsplash.jpg')
    center/cover
    no-repeat;
}

.my-box-shadow-75 {
    box-shadow: inset 0 0 150rem rgb(0 0 0 / 75%);
}

@media (max-width: 379px) {
    .d-none-xxs {
        display: none;
    }
}
/* in visible for all larger than xxs phones */
@media (min-width: 379px) {
    .d-none-above-xxs {
        display: none;
    }
}