/* NAVBAR FOR LARGE SCREENS
  -------------------------------------------------- */

.icon-white {
    fill: white;
}

.icon-success {
    fill: #198754;
}

svg:hover {
    fill: #198754;
}

.nav-link:hover {
    color: #198754 !important;
}

