{% load static %}
{% csrf_token %}
<div class="row g-3">
  <div class="col-12">
    {{ form.name| as_crispy_field }}
  </div>
  <div class="col-sm-6">
    {{ form.height_in | as_crispy_field }}
  </div>
  <div class="col-sm-6">
    {{ form.trunk_circumference | as_crispy_field }}
  </div>
  <div class="col-sm-6">
    {{ form.price | as_crispy_field }}
  </div>
  <div class="col-sm-6">
    {{ form.current_stock | as_crispy_field }}
  </div>
  <!-- features -->
  <h4 class="my-heading-font mb-0">Features
  </h4>
  <div class="col-sm-12 mt-1">
    <p class="lead">To choose more than Feature use Crtl + Click
    </p>
    {{ form.feature | as_crispy_field }}
  </div>
  <div class="col-sm-6">
    {{ form.enviroment | as_crispy_field }}
  </div>
  <div class="col-sm-6">
    {{ form.leaves_or_needles | as_crispy_field }}
  </div>
  <div class="col-12">
    {{ form.description | as_crispy_field }}
  </div>
  <!-- image -->
  <h4 class="mb-3 my-heading-font">Image Details
  </h4>
  <div class="col-12">
    {{ form.image_url | as_crispy_field }}
  </div>
  <div class="col-12">
    {{ form.image }}
  </div>
  <div class="col-12">
    {{ form.image_alt | as_crispy_field }}
  </div>
  <div class="col-12">
    {{ form.image_disclaimer | as_crispy_field }}
  </div>
</div>
