{% extends "base.html" %}
{% load static %}

{% block content %}


<main class="container mt-5 pt-5">

<div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4">

        {% if tree.image %}
        <img src="{{ tree.image.url }}"
        class="img-fluid rounded-start "

        {% if tree.image_alt %}
        alt="{{ tree.image_alt }}"
        {% else %}
        alt="{{ tree.name }}"
        {% endif %}
        >
        {% else %}
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
        {% endif %}
      </div>
      <div class="col-md-8 d-flex flex-column">
        <div class="card-body allign-self-start">
          <!-- tree header -->
          <h2 class="card-title text-uppercase my-heading-font">{{ tree.name }}</h2>
          <p class="small">Product ref.: {{ tree.slug }}</p>
          <!-- displaying features -->
          {% if features %}
          {% for feature in features %}
          <a class="btn btn-sm btn-outline-secondary rounded-pill"
             href="{% url 'all_trees' %}?feature={{feature.name}}" 
             aria-label="See more tees having this feature: {{ feature.friendly_name}}. Opens in same window.">
            <i class="{{ feature.icon_class}}"></i> {{ feature.friendly_name }}</a>
          {% endfor %}
          {% endif %}
          <!-- displaying enviroment -->
          {% if tree.enviroment %}

          <a class="btn btn-sm btn-outline-secondary rounded-pill"
             href="{% url 'all_trees' %}?enviroment={{ tree.enviroment}}" 
             aria-label="See more tees suitable for this enviroment: {{ tree.enviroment.friendly_name}}. Opens in same window.">
            <i class="{{ tree.enviroment.icon_class}}"></i> {{ tree.enviroment.friendly_name }}</a>

          {% endif %}

          <!-- tree description -->
          <p class="card-text">{{ tree.description }}</p>
          <!-- tree dimentions -->
          <div class="row">
            <div class="col-6">
                <p class="card-text">Height: {{ tree.height_in }} in</p>
            </div>
            <div class="col-6">
                <p class="card-text">Trunk: {{ tree.trunk_circumference }} in</p>
            </div>
        </div>
        <h3 class="fw-bold">£ {{tree.price}}</h3>
        </div>
        <div class="card-footer allign-self-end row">
          <div class="col-sm-8 row">
            <!-- form to add to trolley -->

            {% include 'trees/includes/form_add_to_trolley.html' %}
          </div>
            <div class="col-sm-4  row btn-group">
                <div class="col-sm-6">
                  <button type="button" class="btn btn-sm btn-info">Edit</button>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn btn-sm btn-danger">Delete</button>
                </div>


            </div>


        </div>
      </div>
    </div>
  </div>
</main>

  {% endblock %}