{% extends "base.html" %}
{% load static %}

{% block content %}


<main class="container mt-5 pt-5">

<div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4">

        {% if tree.image %}
        <img src="{{ tree.image.url }}"
        class="img-fluid rounded-start "

        {% if tree.image_alt %}
        alt="{{ tree.image_alt }}"
        {% else %}
        alt="{{ tree.name }}"
        {% endif %}
        >
        {% else %}
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
        {% endif %}
      </div>
      <div class="col-md-8 d-flex flex-column">
        <div class="card-body allign-self-start">
          <!-- tree header -->
          <h2 class="card-title text-uppercase my-heading-font">{{ tree.name }}</h2>
          <p class="small">Product ref.: {{ tree.slug }}</p>
          <!-- displaying features -->
          {% if features %}
          {% for feature in features %}
          <a class="btn btn-sm btn-outline-secondary rounded-pill"
             href="{% url 'all_trees' %}?feature={{feature.name}}" 
             aria-label="See more tees having this feature: {{ feature.friendly_name}}. Opens in same window.">
            <i class="{{ feature.icon_class}}"></i> {{ feature.friendly_name }}</a>
          {% endfor %}
          {% endif %}
          <!-- displaying enviroment -->
          {% if tree.enviroment %}

          <a class="btn btn-sm btn-outline-secondary rounded-pill"
             href="{% url 'all_trees' %}?enviroment={{ tree.enviroment}}" 
             aria-label="See more tees suitable for this enviroment: {{ tree.enviroment.friendly_name}}. Opens in same window.">
            <i class="{{ tree.enviroment.icon_class}}"></i> {{ tree.enviroment.friendly_name }}</a>

          {% endif %}

          <!-- tree description -->
          <p class="card-text">{{ tree.description }}</p>
          <!-- tree dimentions -->
          <div class="row">
            <div class="col-6">
                <p class="card-text">Height: {{ tree.height_in }} in</p>
            </div>
            <div class="col-6">
                <p class="card-text">Trunk: {{ tree.trunk_circumference }} in</p>
            </div>
        </div>
        <h3 class="fw-bold">£ {{tree.price}}</h3>
        </div>
        <div class="mb-3 text-center">

            <div class="btn-group">
              <button type="button" class="shadow btn btn btn-info rounded-pill me-3">Edit</button>
              <button type="button" class="shadow btn btn btn-danger rounded-pill">Delete</button>
            </div>
        </div>
      </div>
        <!-- card footer -->
        <div class="card-footer bg-light">
          <!-- form to add to trolley -->
          <form class="form" action="{% url 'add_to_trolley' tree.id %}" method="POST">

            {% csrf_token %}
            <div class="row text-center">

                <div class="col-12  text-center">

                    <div class="input-group  text-center">
                      <!-- div controlling the size of input group and position to the right -->
                      <div class="col-12 col-sm-4 col-md-5  text-center d-none d-md-block"> </div>
                      <div class="d-none d-md-block text-center">
                        <!-- Back to shop button for tablets and bigger -->
                        <a href="{% url 'all_trees' %}" class="shadow-lg btn btn-secondary text-white rounded-pill">
                          <svg class="bi mx-auto mb-1" width="24" height="24" fill="currentColor"><use xlink:href="#shop"/></svg>
                          Back to shop</a>
                      </div>
                      <input class=" shadow-lg form-control bg-success  text-white fw-bold text-center rounded-pill" type="number"
                      name="quantity" value="1" min="1" max="99"
                      data-item_id="{{ tree.id }}"
                      id="id_qty_{{ tree.id }}">
                      <button type="submit" class="shadow-lg btn btn-success rounded-pill">
                        <svg class="bi mx-auto mb-1" width="24" height="24" fill="currentColor"><use xlink:href="#trolley"/></svg>
                    
                        Add to trolley</button>
                    </div>
                  </div>
                  <div class="col-12 d-md-none text-center mt-3">
                    <!-- Back to shop in a seperate column for mobile phones only -->
                    <a href="{% url 'all_trees' %}" class="shadow-lg btn btn-secondary text-white rounded-pill">
                      <svg class="bi mx-auto mb-1" width="24" height="24" fill="currentColor"><use xlink:href="#shop"/></svg>
                      Back to shop</a>
                  </div>

                      <input type="hidden" name="redirect_url" value="{{ request.path }}">
              
            </div>

          </form>

        </div>

    </div>
  </div>
</main>

  {% endblock %}