{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="py-5 text-center container">
    <!-- hero image might replace with carusel ??? -->
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light my-heading-font">Our Trees</h1>
        <p class="lead text-muted">
            We have team of gardeners taking care of our trees. 
            Our trees are healthy and well kept. We also take a special care
             when delivering plants to you.
        </p>
        <p>
          <a href="#" class="btn btn-success my-2">Go to trolley</a>
          <a href="#" class="btn btn-secondary my-2">Learn more about bonsai</a>
        </p>
      </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for tree in trees %}
            
            <!-- one card  -->
            <div class="col">
                <div class="card shadow-sm">
                    {% if tree.image %}
                    <img class="card-img-top img-thumbnail" src="{{tree.image.url}}"
                        {% if tree.image_alt %}
                        alt="{{tree.image_alt}}"
                        {% else %}
                        alt="{{tree.name}}"
                        {% endif %}

                     height="225">
                     {% else %}
                     <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    {% endif %}
                <div class="card-header">
                    <h2>{{ tree.name }}</h2>
                </div>
                <div class="card-body">
                    {% if tree.description %}
                    <p class="card-text">
                        {{ tree.description }}
                    </p>
                    {% endif %}
                    <p class="card-text">Height: {{ tree.height_in }} in</p>
                    <p class="card-text">Trunk circumference: {{ tree.trunk_circumference }} in</p>

                    <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-success">Buy</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted fw-bold">£ {{tree.price}}</small>
                    </div>
                </div>
                </div>
            </div>
            <!-- end of card here -->

            {% endfor %}
        </div>
    </div>
</div>



{% endblock %}